*.DS_Store
WoJianMei.xcodeproj/project.xcworkspace/xcuserdata/ronaldotom.xcuserdatad/UserInterfaceState.xcuserstate
WoJianMei.xcodeproj/project.xcworkspace/xcuserdata/TomCallon.xcuserdatad/UserInterfaceState.xcuserstate
WoJianMei.xcodeproj/project.xcworkspace/xcuserdata/callontech.xcuserdatad/UserInterfaceState.xcuserstate
WoJianMei.xcodeproj/project.pbxproj

